
a {
    z-index: 1022;
    opacity: 0.75;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.quarter-circle {
    width: 150px; /* Adjust the size to fit the image */
    height: 150px;
    border-radius: 0 0 0 150px; /* Radius matches the width/height */
    overflow: hidden; /* Ensures the image stays inside the quarter circle */

    img {
        position: absolute;
        top: auto;
        left: 50%;
        transform: translate(-25%, -25%); /* Adjust for the quarter-circle's shape */
        width: 65px; /* Adjust size as necessary */
        height: auto;
    }

    // TODO make it scale like in figma when hover
    &:hover {
        transform: scale(110%);
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .quarter-circle {
        width: 120px; /* Smaller size for mobile */
        height: 120px;
        border-radius: 0 0 0 120px; /* Adjusted border radius */
    }

    .quarter-circle img {
        width: 50px; /* Adjust image size on mobile */
    }
}
