a {

    text-decoration: none;

    h1 {
        margin-top: 3rem;
        color: white;

        @media(min-width: 992px) {
            display: none;
        }

        @media(max-width: 992px) {
            display: block;
        }
    }

    @media(min-width: 992px) {
        &:hover {
            opacity: 0.75;
            cursor: pointer;

            img {
                transition: transform .2s;
                transform: scale(1.5);
            }

            h1 {
                display: block;
            }
        }
    }
}


.background-video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide any overflow to ensure video doesn't stretch out of bounds */

    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the video covers the entire viewport */
        z-index: 6;
    }

}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}
