<nav-icon
    *ngIf="isFromOverlay"
    [type]="'nav-menu'"
></nav-icon>

<div class="background-video-container">
    <video autoplay class="background-video" id="bg-video" loop muted>
        <source src="./assets/videos/oca-nav-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="links">
        <a (click)="notifyParentAndHandleEvent($event, '/news')"
           class="col-md-4  d-flex flex-column justify-content-center align-items-center mobile-animation">
            <img [height]="76" [width]="87" alt="News Icon" ngSrc="../../../../assets/svg-icons/alert-white.svg">
            <h1>Novice</h1>
        </a>

        <a (click)="notifyParentAndHandleEvent($event, '/music')"
           class="col-md-4  d-flex flex-column justify-content-center align-items-center mobile-animation">
            <img [height]="74" [width]="48" alt="Music Icon" ngSrc="../../../../assets/svg-icons/note-white.svg">
            <h1>Glasba</h1>
        </a>

        <a (click)="notifyParentAndHandleEvent($event, '/contact')"
           class="col-md-4 d-flex flex-column justify-content-center align-items-center mobile-animation">
            <img [height]="74" [width]="93" alt="Contact Icon" ngSrc="../../../../assets/svg-icons/mail-white.svg">
            <h1>Kontakt</h1>
        </a>
    </div>

</div>

