.bg-image {
    background-image: url("/assets/images/dry-earth-bg.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-logo-img:hover {
    opacity: 0.75;
}

a {
    cursor: pointer;
}
