<!-- BG image -->
<div class="bg-image d-flex justify-content-center align-items-center">
    <div class="text-center">
        <!-- Main logo in the center - clickable -->
        <!-- TODO hover animation       -->
        <a (click)="toggleNav()" class="p-2">
            <div class="p-1">
                <img alt="no img" class="rounded-4 col-9" id="title-logo-img" src="assets/images/oca-main.png"/>
            </div>
        </a>
        <!-- Intro text -->
        <div class="py-1">
            <!-- TODO download correct font    -->
            <p class="text-center text-black text-opacity-75 fs-6 fw-normal font-family-Jersey col-12 m-0 px-3 py-2">
                <b>
                    Smo 4-članski band iz Kopra. Pripovedno - plesna, psihadelična rock 'n' roll mineštra po
                    primorsko.<br/>EN BIŠKOTIN ČA!
                </b>
            </p>
        </div>
    </div>
</div>
