<!--&lt;!&ndash; BG image &ndash;&gt;-->
<!--<div class="bg-image">-->
<!--    <div class="position-relative row justify-content-center">-->
<!--        <div class="px-1 py-1 position-absolute col-xl-4 justify-content-center align-items-center">-->
<!--            &lt;!&ndash; Main logo na sredini - clickable &ndash;&gt;-->
<!--            <a class="open-menu">-->
<!--                <div class="px-1 pb-1 justify-content-center align-items-center">-->
<!--                    <img alt="no img" class="rounded-4 shadow col-9" src="assets/images/oca-main.png"/>-->
<!--                </div>-->
<!--            </a>-->
<!--            &lt;!&ndash; Intro text&ndash;&gt;-->
<!--            <div class="py-1 justify-content-center align-items-center">-->
<!--                <p class="text-center text-black text-opacity-50 fs-6 fw-normal font-family-Jersey 10 col-12 m-0 px-3 py-2">-->
<!--                    Smo 4-članski band iz Kopra. Pripovedno - plesna, psihadelična rock 'n' roll mineštra po-->
<!--                    primorsko.<br/>EN-->
<!--                    BIŠKOTIN ČA!</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- BG image -->
<div class="bg-image d-flex justify-content-center align-items-center">
    <div class="text-center">
        <!-- Main logo in the center - clickable -->
<!-- TODO hover animation       -->
        <a class="open-menu p-2" routerLink="">
            <div class="p-1">
                <img id="title-logo-img" class="rounded-4 col-9" src="assets/images/oca-main.png" alt="no img" />
            </div>
        </a>
        <!-- Intro text -->
        <div class="py-1">
<!-- TODO dowload correct font    -->
            <p class="text-center text-black text-opacity-75 fs-6 fw-normal font-family-Jersey col-12 m-0 px-3 py-2">
                Smo 4-članski band iz Kopra. Pripovedno - plesna, psihadelična rock 'n' roll mineštra po
                primorsko.<br />EN BIŠKOTIN ČA!
            </p>
        </div>
    </div>
</div>
