@import "../../../styles/animations";


.bg-image {
    background-image: url("/assets/images/dry-earth-bg.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-logo-img {
    animation: upDown 1s infinite;

    &:hover {
        opacity: 0.75;
    }
}


a {
    cursor: pointer;
}
