<nav-menu-overlay></nav-menu-overlay>

<div class="bg-image d-flex justify-content-center align-items-center">
    <div class="text-center">
        <!-- TODO hover animation growing/shrinking ali bouncing      -->
        <a (click)="toggleNav()" class="p-2">
            <div class="p-1">
                <img alt="Main OCA logo" class="col-9" id="title-logo-img" src="assets/images/oca-main.png"/>
            </div>
        </a>

        <div class="py-1">
            <p class="fs-5 m-0 px-3 py-2">
                <b>
                    Smo 4-članski band iz Kopra. Pripovedno - plesna, psihadelična rock 'n' roll mineštra po
                    primorsko.<br/>EN BIŠKOTIN ČA!
                </b>
            </p>
        </div>
    </div>
</div>
