<nav-icon
    [icon]="'note'"
    [type]="'prev-page'"
></nav-icon>


<section class="base-bg" id="featured-video-section">

    <div class="sticky-top">
        <div class="header">
            <img alt="glavno ozadje" class="thumbnail-bg" src="{{selectedVideo.snippet.thumbnails.medium.url}}">
        </div>

        <div class="video-container">
            <!-- TODO make it responsive      -->
            <youtube-player [videoId]="selectedVideo.id"
                            class="video-player"
            ></youtube-player>
        </div>
    </div>

    <div class="footer">
        <div class="container text-center mx-4">
            <p>{{
                    selectedVideo.snippet.description
                }}</p>
        </div>
    </div>


</section>

<section id="more-videos-section">
    <div class="container more-videos">
        <div class="video-grid">
            <div (click)="viewVideo(video.id.videoId)"
                 *ngFor="let video of otherVideos"
                 class="video-card">
                <img
                    alt="Other videos"
                    class="video-thumbnail"
                    src="{{video.snippet.thumbnails.medium.url}}"
                >
            </div>
        </div>
    </div>

</section>

<section id="nav-menu-section">
    <!--    <nav-menu></nav-menu>-->
</section>
