@import "../../../styles/mixins";


#featured-video-section {

    .header {
        @include headerBgImage();
    }

    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;

    }

    .video-description {
        padding: 30px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .formatted-text {
            white-space: pre-wrap; /* Preserve newlines and spaces */
        }
    }

}

#more-videos-section {
    height: 300vh;
    background-image: linear-gradient(rgba(234, 69, 69, 0.8), rgba(87, 128, 232, 0.81));

    .more-videos {
        position: sticky;
        top: 0;
        height: 100vh;
        align-items: center;
    }

    .video-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: 80%;
        margin: 0 auto;
        padding: 1rem;

        .video-card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            max-height: 280px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px); // Slight lift effect on hover
            }

        }
    }

    @media (max-width: 576px) {

        .video-grid {
            grid-template-columns: repeat(1, 1fr);
            max-width: 75%;

            .video-card {
                max-height: 250px;
            }
        }

    }
}

