<nav-icon
    [icon]="'cupcake'"
    [type]="'home'"
></nav-icon>


<section id="featured-video-section">
    <div
        [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + selectedVideo.snippet.thumbnails.medium.url + ')'}"
        class="header sticky-top"
    >
        <div class="container video-container">
            <youtube-player
                [height]="playerHeight"
                [videoId]="selectedVideo.id"
                [width]="playerWidth"
                class="video-player"
            ></youtube-player>
        </div>
    </div>


    <div class="pages-base-bg-image">
        <div class="container video-description">
            <div class="container">

                <h1 class="fs-3 text-black">
                    {{ selectedVideo.snippet.title }}
                </h1>
                <p class="fs-3 formatted-text">

                    {{ selectedVideo.snippet.description }}

                </p>
                <p class="fs-4">
                    {{ selectedVideo.snippet.publishedAt | date: 'longDate' }}
                </p>
            </div>

        </div>
    </div>


</section>

<section id="more-videos-section">
    <div class="container more-videos video-grid">
        <div (click)="viewVideo(video.id.videoId)"
             *ngFor="let video of otherVideos"
             class="video-card">
            <img
                alt="Other videos"
                src="{{video.snippet.thumbnails.medium.url}}"
            >
        </div>
    </div>

</section>

<section>
    <nav-menu></nav-menu>
</section>
