@keyframes upDown {
    0% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Back to initial position */
    }
}

@keyframes downUp {
    0% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(20px); /* Move down */
    }
    100% {
        transform: translateY(0); /* Back to initial position */
    }
}

@keyframes shrinkGrow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8); /* Shrink */
    }
    100% {
        transform: scale(1); /* Grow back */
    }
}
