@font-face {
    font-family: 'Ethnocentric';
    src: url('~src/assets/fonts/Ethnocentric/ethnocentric rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey 10';
    src: url('~src/assets/fonts/Jersey10/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
