<!--<video autoplay id="mainBgVideo" loop muted>-->
<!--    <source src="" type="video/mp4">-->
<!--    Your browser does not support HTML5 video.-->
<!--    Possible dev tool: https://github.com/2013gang/angular-video-background-->
<!--</video>-->


<!--<header class="container">-->
<!--    <button-->
<!--        [routerLink]="'news'"-->
<!--        class="btn"-->
<!--    >Novice (news)-->
<!--    </button>-->
<!--    <button-->
<!--        [routerLink]="'music'"-->
<!--        class="btn"-->
<!--    >Glasba (music)-->
<!--    </button>-->
<!--    <button-->
<!--        [routerLink]="'contact'"-->
<!--        class="btn">Kontakt (contact)-->
<!--    </button>-->
<!--</header>-->

<!--<app-nav-menu-icon></app-nav-menu-icon>-->

<!--<router-outlet></router-outlet>-->


<nav-menu></nav-menu>

