<div *ngFor="let post of posts; let i = index" class="post-section">
    <div class="post-card">
        <div class="post-content">
            <ng-container *ngIf="post.media_type === 'CAROUSEL_ALBUM'">
                <carousel>
                    <slide *ngFor="let child of post.children.data">
                        <img *ngIf="child.media_type === 'IMAGE'" [src]="child.media_url" class="carousel-image"/>
                        <video *ngIf="child.media_type === 'VIDEO'" [src]="child.media_url"
                               class="carousel-video" loop
                               muted></video>
                    </slide>
                </carousel>
            </ng-container>

            <ng-container *ngIf="post.media_type === 'VIDEO' && post.media_type !== 'CAROUSEL_ALBUM'">
                <video [src]="post.media_url" class="single-video" controls muted></video>
            </ng-container>

            <ng-container *ngIf="post.media_type === 'IMAGE' && post.media_type !== 'CAROUSEL_ALBUM'">
                <img [src]="post.media_url" class="single-image"/>
            </ng-container>
        </div>
        <div class="post-footer">
            <div *ngIf="post.caption" class="caption">
                <p *ngIf="post.caption.length <= 100">
                    {{ post.caption }}
                </p>

                <!-- Show collapsed version if caption is longer than 50 characters -->
                <p *ngIf="post.caption.length > 100">
                    {{ post.caption | slice: 0: 100 }}...
                    <!-- Show "Show more" button only if the caption is not expanded -->
                    <button (click)="toggleCaption(i)" *ngIf="!isExpanded(i)"
                            [attr.aria-controls]="'collapseCaption' + i" [attr.data-bs-target]="'#collapseCaption' + i"
                            aria-expanded="false" class="btn btn-link p-0"
                            data-bs-toggle="collapse" type="button">
                        Show more
                    </button>
                </p>

                <div [id]="'collapseCaption' + i" class="collapse">
                    <p>{{ post.caption }}</p>
                    <!-- Show "Show less" button when the caption is expanded -->
                    <button (click)="toggleCaption(i)" *ngIf="isExpanded(i)"
                            [attr.aria-controls]="'collapseCaption' + i" [attr.data-bs-target]="'#collapseCaption' + i"
                            aria-expanded="false" class="btn btn-link p-0"
                            data-bs-toggle="collapse" type="button">
                        Show less
                    </button>
                </div>
            </div>
            <p>{{ post.timestamp | date: 'medium' }}</p>

            <a [href]="post.permalink" class="mt-2" target="_blank">
                View on Instagram <i class="fa-brands fa-instagram mx-1"></i>
            </a>
        </div>
    </div>
</div>
