<section class="base-bg" id="intro-section">

    <div class="sticky-top">
        <div class="header">
            <div class="heading">
                <h1>
                    ALE, DEJMO SE <br> ZMENIT
                </h1>
            </div>

            <img alt="glavno ozadje" class="main-bg-image" src="/assets/images/contact-us/contact-start.jpeg">
            <div class="band-img">
                <div class="band-particles">
                    <img alt="" id="cink" src="../../../../assets/images/contact-us/band-particles/cink.png">
                    <img alt="" id="vid" src="../../../../assets/images/contact-us/band-particles/vid.png">
                    <img alt="" id="maj" src="../../../../assets/images/contact-us/band-particles/maj.png">
                    <img alt="" id="miha" src="../../../../assets/images/contact-us/band-particles/miha.png">
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container text-center mx-4">
            <p class="fs-3">Organizatorji dogodkov, glasbeniki, oboževalci, hejterji in drugi! Vsi ste dobrodošli da nas
                kontaktirate
                za sodelovanje z nami in povratne informacije o nas, naši glasbi, dizajnu ali čemerkoli!</p>
        </div>
    </div>
</section>

<section id="contact-section">

    <!-- TODO add media breakpoints   -->
    <div class="container contact-info">
        <div class="phone-number">
            <!--            <i class="fa-solid fa-phone fa-2xl"></i>-->
            <img alt="" height="33" ngSrc="assets/svg-icons/phone-white.svg" width="38">
            <span class="info fs-2">+386 41 631 169</span>
        </div>
        <div class="email">
            <!--            <i class="fa-regular fa-envelope fa-2xl"></i>-->
            <img alt="" height="26" ngSrc="assets/svg-icons/mail-white.svg" width="38">
            <span class="info fs-3">OCABAND@PROTONMAIL.COM</span>
        </div>
        <div class="location">
            <!--            <i class="fa-solid fa-map-pin fa-2xl"></i>-->
            <img alt="" height="34" ngSrc="assets/svg-icons/location-white.svg" width="30">
            <span class="info fs-4">KOPER, SLOVENIJA</span>
        </div>
        <div class="feedback-button mt-3">
            <button (click)="scrollToFeedback()" class="btn btn-primary">
                <span class="info fs-3">FEEDBACK</span>
            </button>
        </div>
        <div class="feedback-text">
            <span class="info-feedback fs-4">Radi bi se izboljšali! Če se le da, bomo odpisali.</span>
        </div>
    </div>
</section>

<section id="contact-feedback-section">

    <!--    <div class="sticky-top">-->
    <div class="title h-25">
        <h1>FEEDBACK</h1>
    </div>
    <div class="container h-75 d-flex justify-content-center">
        <form (ngSubmit)="onSubmit()"
              [formGroup]="emailForm"
              class="feedback-form"
        >

            <label for="subject"></label>
            <input formControlName="subject" id="subject" placeholder="Zadeva" type="text"/>

            <label for="message"></label>
            <textarea formControlName="message" id="message" placeholder="Sporočilo"></textarea>

            <label for="email"></label>
            <input formControlName="email" id="email" placeholder="EMAIL" type="email"/>
            <div *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched">
                <h1 class="fs-6">Prosim vnesite veljaven email.</h1>
            </div>
            <ngx-recaptcha2 #captchaElem
                            (success)="handleSuccess($event)"
                            [siteKey]="'6LejFHgqAAAAAGin9n-51NplW-iTJednTqULyzcd'"
                            [size]="'normal'">
            </ngx-recaptcha2>

            <button [disabled]="emailForm.invalid" class="mt-2" type="submit"><h1 class="fs-5 text-center m-0">
                Pošlji</h1></button>
        </form>
    </div>
    <!--    </div>-->

</section>

<section id="contact-nav-menu">
    <nav-menu></nav-menu>

</section>

