<section class="base-bg" id="intro-section">

    <div class="sticky-top">

        <div class="header">
            <div class="heading">
                <h1>
                    ALE, DEJMO SE ZMENT
                </h1>
            </div>
            <img alt="glavno ozadje" class="main-bg-image" src="/assets/images/contact-us/contact-start.jpeg">
            <!-- TODO editiraj slik, da je bottom poravnan z sliko ozadja        -->
            <img alt="slika benda" class="band-img" src="/assets/images/contact-us/contact-band-removebg.png">
        </div>
    </div>

    <div class="footer">
        <div class="container text-center mx-4">
            <p>Organizatorji dogodkov, glasbeniki, oboževalci, hejterji in drugi! Vsi ste dobrodošli da nas kontaktirate
                za sodelovanje z nami in povratne informacije o nas, naši glasbi, dizajnu ali čemerkoli!</p>
        </div>
    </div>
</section>

<section id="contact-section">

    <div class="container contact-info">
        <div class="phone-number">
            <i class="fa-solid fa-phone fa-2xl"></i>
            <span class="info">+386 41 631 169</span>
        </div>
        <div class="email">
            <i class="fa-regular fa-envelope fa-2xl"></i>
            <span class="info">OCABAND@PROTONMAIL.COM</span>
        </div>
        <div class="location">
            <i class="fa-solid fa-map-pin fa-2xl"></i>
            <span class="info">KOPER, SLOVENIJA</span>
        </div>
    </div>
</section>

