.base-bg {
    background-image: url("/assets/images/dry-earth-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-section {

    height: 100vh;
    width: 100%;

    .header {

        position: relative;
        height: 67.66vh;
        width: 100%;
        overflow: hidden;

        .heading {
            position: relative;
            top: 3rem;
            display: flex;
            justify-content: center;
            text-align: center;
            z-index: 4;

            h1 {
                font-size: 64px;
            }
        }
    }

    .main-bg-image, .band-img {
        position: absolute;
        width: 100%;
        height: 67.66vh;
    }

    .main-bg-image {
        top: 0;
        filter: brightness(0.5);
        z-index: 2;
    }

    .band-img {
        bottom: 0;
        max-height: 67.66vh;
        width: 100%;
        height: auto;
        object-fit: contain;
        z-index: 4;
    }

    .band-particles {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
        overflow: hidden;

        img {
            flex-shrink: 0;
            height: 450px;
            width: auto;
            margin-left: -180px;
            object-fit: cover;
            object-position: bottom center;
            overflow-x: hidden;
        }

        #cink {
            margin-left: -20px;
        }

        #maj {
            margin-left: -280px;
        }
    }

    .footer {
        height: 32.34vh;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: rgba(0, 0, 0, 1);
        }
    }

    @media (max-width: 1200px) {
        .band-particles img {
            height: 400px;
            margin-left: -150px;
        }
    }

    @media (max-width: 992px) {
        .band-particles img {
            height: 350px;
            margin-left: -100px;
        }
        .header .heading {
            top: 130px;

            h1 {
                font-size: 58px;
            }
        }
        .footer p {
            font-size: 28px;
        }
    }

    @media (max-width: 768px) {
        .band-particles img {
            margin-left: -150px;

            &#cink {
                margin-left: -60px;
            }

            &#maj {
                margin-left: -330px;
            }
        }
        .header .heading {
            top: 110px;

            h1 {
                font-size: 45px;
            }
        }
        .footer p {
            font-size: 26px;
        }
    }

    @media (max-width: 576px) {
        .band-particles img {
            height: 250px;
            margin-left: -110px;

            &#maj {
                margin-left: -240px;
            }

            &#miha {
                margin-left: -100px;
            }
        }
        .header .heading {
            top: 115px;

            h1 {
                font-size: 28px;
            }
        }
        .footer p {
            font-size: 18px;
        }
    }
}

#contact-section {

    height: 300vh;
    background-image: linear-gradient(rgba(234, 69, 69, 0.8), rgba(87, 128, 232, 0.81));

    .contact-info {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 3.5rem;

        div > i {
            margin-right: 2.5rem;
        }

        .phone-number, .email, .location {
            display: flex;
            align-items: center;

            h1 {
                margin-bottom: 0;

                .mail-link, .phone-link {
                    color: white;

                    &:hover, &:active {
                        color: #ffffffab;
                    }
                }
            }

        }

    }
}
