.base-bg {
    background-image: url("/assets/images/dry-earth-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-section {

    height: 100vh;
    width: 100%;

    .header {

        position: relative;
        height: 67.66vh;
        width: 100%;
        overflow: hidden;

        .heading {
            position: relative;
            top: 3rem;
            display: flex;
            justify-content: center;
            text-align: center;
            z-index: 4;

            h1 {
                font-size: 64px;
            }
        }
    }

    .main-bg-image, .band-img {
        position: absolute;
        width: 100%;
        height: 67.66vh;
    }

    .main-bg-image {
        top: 0;
        filter: brightness(0.5);
        z-index: 2;
    }

    .band-img {
        bottom: 0;
        max-height: 67.66vh;
        width: 100%;
        height: auto;
        object-fit: contain;
        z-index: 4;
    }

    .band-particles {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
        overflow: hidden;

        img {
            flex-shrink: 0;
            height: 450px;
            width: auto;
            margin-left: -180px;
            object-fit: cover;
            object-position: bottom center;
            overflow-x: hidden;
        }

        #cink {
            margin-left: -20px;
        }

        #maj {
            margin-left: -280px;
        }
    }

    .footer {
        height: 32.34vh;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: rgba(0, 0, 0, 1);
        }
    }

    @media (max-width: 1200px) {
        .band-particles img {
            height: 400px;
            margin-left: -150px;
        }
    }

    @media (max-width: 992px) {
        .band-particles img {
            height: 350px;
            margin-left: -100px;
        }
        .header .heading {
            top: 130px;

            h1 {
                font-size: 58px;
            }
        }
        .footer p {
            font-size: 28px;
        }
    }

    @media (max-width: 768px) {
        .band-particles img {
            margin-left: -150px;

            &#cink {
                margin-left: -60px;
            }

            &#maj {
                margin-left: -330px;
            }
        }
        .header .heading {
            top: 110px;

            h1 {
                font-size: 45px;
            }
        }
        .footer p {
            font-size: 26px;
        }
    }

    @media (max-width: 576px) {
        .band-particles img {
            height: 250px;
            margin-left: -110px;

            &#maj {
                margin-left: -240px;
            }

            &#miha {
                margin-left: -100px;
            }
        }
        .header .heading {
            top: 115px;

            h1 {
                font-size: 28px;
            }
        }
        .footer p {
            font-size: 18px;
        }
    }
}

#contact-section {

    height: 300vh;
    background-image: linear-gradient(rgba(234, 69, 69, 0.8), rgba(87, 128, 232, 0.81));

    .contact-info {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;

        div > i, img {
            margin-right: 2rem;
        }

        .phone-number, .email, .location {
            display: flex;
            align-items: baseline;
        }
    }


    .info-feedback {

        color: white;
    }
}


#contact-feedback-section {
    background-image: linear-gradient(rgba(0, 88, 145, 0.7), rgba(0, 88, 145, 0.7)), url('/assets/images/stone-wall.png');
    background-position: center;
    background-size: contain;
    height: 300vh;


    .title {
        h1 {
            text-align: center;
            font-size: 64px;

            @media (max-width: 768px) {
                font-size: 32px;
            }
        }
    }

    .feedback-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 500px;
        min-height: 600px;
        gap: 10px;

        textarea {
            width: 100%;
            height: 40%;
            border-radius: 15px;
            border: none;
            background-color: #000;
            color: white;
            padding: 15px;
            font-size: 1rem;
            resize: none;
        }

        input, textarea {

            &[type="email"], &[type="text"] {
                width: 100%;
                height: 50px;
                border-radius: 25px;
                border: none;
                background-color: #000;
                color: white;
                text-align: center;
                font-size: 1rem;
                padding: 10px;
            }

            &::placeholder {
                font-family: 'Ethnocentric', sans-serif;
                font-weight: 400;
                color: #FFFFFF80;
                font-size: 1rem;
                text-align: center;
            }
        }

    }

}

#contact-nav-menu {
    height: 100vh;
    background-color: #3897f0;
}

.contact-btn {

    min-width: 75%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s;


    &:hover {
        transform: scale(1.05);
    }
}

