<div class="container-fluid vh-100 bg-secondary ">

    <nav-menu-icon></nav-menu-icon>

    <div class="row h-100">

        <a [routerLink]=""
           class="col-lg-4 d-flex justify-content-center align-items-center">
            <!-- Column 1 content -->
            <img alt="" height="76" ngSrc="assets/svg-icons/alert-white.svg" width="87">
        </a>

        <a [routerLink]=""
           class="col-lg-4 d-flex justify-content-center align-items-center">
            <!-- Column 2 content -->
            <img alt="" height="74" ngSrc="assets/svg-icons/note-white.svg" width="48">
        </a>


        <a [routerLink]=""
           class="col-lg-4 d-flex justify-content-center align-items-center">
            <!-- Column 3 content -->
            <img alt="" height="74" ngSrc="assets/svg-icons/mail-white.svg" width="93">
        </a>
    </div>
</div>
