// show navigation
.nav {
    display: none;

    &.open {
        display: block;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1021;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

a {

    text-decoration: none;

    h1 {
        margin-top: 3rem;
        color: white;
        visibility: hidden;
    }

    &:hover {
        opacity: 0.75;
        cursor: pointer;

        img, h1 {
            transition: transform .2s;
            transform: scale(1.5);
        }

        h1 {
            visibility: visible;
            font-size: 28px;
        }
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
